td.table-cell-hover, td.table-control-cell {
	text-align: right;
}

td.table-cell-hover *{
	opacity: 0;
}

tr:hover td.table-cell-hover * {
	opacity: 1;
}

#footer {
	padding: 20px 0 10px 0;
}

#voting .runner > input[type="radio"] {
	display: none;
}

#voting .runner:hover .thumbnail,
.runner > input[type="radio"]:checked + .thumbnail {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}