<div class="election_details">
	<h1>{{election.title}}</h1>
	<h3>{{election.start}}</h3>
	<h3>{{election.end}}</h3>
	<p>{{election.notes}}</p>


<div class="position" ng-repeat="position in election.positions">
	<h2>{{position.title}}</h2>

	<div class="runner" ng-repeat="runner in position.runners">
		<input type="radio" id="runner_{{runner.id}}" name="position_{{position.id}}" ng-model="pickmap[position.title]" value="{{runner.id}}">
		<label for="runner_{{runner.id}}">
			<p>{{runner.name}} ({{runner.year}})</p>
			<p>{{runner.concentration}}</p>
		</label>
		
	</div>
</div>

<input type="text" ng-model="email" placeholder="Signed ...">
<button ng-click="save()">Vote!</button>


